{% extends "layout.html" %}

{% block title %} Edit Atacan {% endblock %}

{% block content %}

    <h1> Edit Receiving </h1>

    <form action="" method="post" name="receiving_form">

      <div>
        <label for="Player_Id">Player_Id</label>
        <div>
          <input type="text" name="Player_Id" value="{{ values['Player_Id'] }}" required="required"/>
        </div>
      </div>

      <div>
        <label for="Player_Year">Player_Year</label>
        <div>
          <input type="number" name="Player_Year" value="{{ values['Player_Year'] }}"/> 
        </div>
      </div>

      <div>
        <label for="Team">Team</label>
        <div>
          <input type="text" name="Team" value="{{ values['Team'] }}"/>
        </div>
      </div>

      <div>
        <label for="Games_Played">Games_Played</label>
        <div>
          <input type="number" name="Games_Played" value="{{ values['Games_Played'] }}"/>
        </div>
      </div>

      <div>
        <label for="Receptions">Receptions</label>
        <div>
          <input type="text" name="Receptions" value="{{ values['Receptions'] }}"/>
        </div>
      </div>

      <div>
        <label for="Receiving_Yards">Receiving Yards</label>
        <div>
          <input type="text" name="Receiving_Yards" value="{{ values['Receiving_Yards'] }}"/>
        </div>
      </div>

      <div>
        <label for="Yards_Per_Reception">Yards Per Reception</label>
        <div>
          <input type="text" name="Yards_Per_Reception" value="{{ values['Yards_Per_Reception'] }}"/>
        </div>
      </div>

      <div>
        <label for="Yards_Per_Game">Yards Per Game</label>
        <div>
          <input type="number" name="Yards_Per_Game" value="{{ values['Yards_Per_Game'] }}"/>
        </div>
      </div>

      <div>
        <div>
          <button> Save </button>
        </div>
      </div>

    </form>
{% endblock %}
