{% extends "layout.html" %}

{% block title %} Bora {% endblock %}

{% block content %}

<h1>Bora</h1>

<div>
    <a href="{{ url_for('add_passing') }}">Add Passing Stat</a>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Passing_Id</th>
        <th>Player_Id</th>
        <th>Player_Year</th>
        <th>Team</th>
        <th>Games_Played</th>
        <th>Passes_Attempted</th>
        <th>Passes_Completed</th>
        <th>Completion_Percentage</th>
        <th>Passer_Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for Passing_Id, Player_Id, Player_Year, Team, Games_Played, Passes_Attempted,
        Passes_Completed, Completion_Percentage, Passer_Rating in passing_db %}
      <tr>
        <td>{{Passing_Id}}</td>
        <td>{{Player_Id}}</td>
        <td>{{Player_Year}}</td>
        <td>{{Team}}</td>
        <td>{{Games_Played}}</td>
        <td>{{Passes_Attempted}}</td>
        <td>{{Passes_Completed}}</td>
        <td>{{Completion_Percentage}}</td>
        <td>{{Passer_Rating}}</td>
        <td>
          <a href="{{ url_for('delete_passing', passing_id = Passing_Id)}}">Delete</a>
        </td>
        <td>
          <a href="#">Update</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
