{% extends "layout.html" %} {% block content %}

<h1 class="title">Punting Table</h1>

<a href="{{ url_for('add_punting') }}" class="button_new_data" role="button"
  >Add New Data</a
>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Punting Id</th>
        <th>Player Id</th>
        <th>Player Year</th>
        <th>Team</th>
        <th>Games Played</th>
        <th>Punts</th>
        <th>Gross Punting Yards</th>
        <th>Longest Punt</th>
        <th>Fair Catches</th>
      </tr>
    </thead>
    <tbody>
      {% for Punting_Id, Player_Id, Player_Year, Team, Games_Played, Punts,
      Gross_Punting_Yards, Longest_Punt, Fair_Catches in punting_db %}
      <tr>
        <td>{{Punting_Id}}</td>
        <td>{{Player_Id}}</td>
        <td>{{Player_Year}}</td>
        <td>{{Team}}</td>
        <td>{{Games_Played}}</td>
        <td>{{Punts}}</td>
        <td>{{Gross_Punting_Yards}}</td>
        <td>{{Longest_Punt}}</td>
        <td>{{Fair_Catches}}</td>
        <td>
          <a
            href="{{ url_for('delete_punting', punting_id = Punting_Id)}}"
            type="submit"
            value="Submit"
            class="button_small"
            >Delete</a
          >
        </td>
        <td>
          <a
            href="{{ url_for('update_punting', punting_id = Punting_Id)}}"
            class="button_small"
            >Update</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
