{% extends "layout.html" %} {% block content %}

<h1>Merve</h1>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Defensive ID</th>
        <th>Player ID</th>
        <th>Year</th>
        <th>Team</th>
        <th>Games Played</th>
        <th>Total Tackles</th>
        <th>Solo Tackles</th>
        <th>Assisted Tackles</th>
        <th>Passes_Defended</th>
        <th>Ints</th>
        <th>Yards Per Int</th>
      </tr>
    </thead>
    <tbody>
      {% for Defensive_Id,Player_Id,Player_Year, Team ,Games_Played,Total_Tackles,Solo_Tackles,Assisted_Tackles,Passes_Defended,Ints,Yards_Per_Int in defensive_db %}  
      <tr>
        <td>
          {{Defensive_Id}}
        </td>

        <td>
          {{Player_Id}}
        </td>

        <td>
          {{Player_Year}}
        </td>

        <td>
          {{Team}} 
        </td>

        <td>
          {{Games_Played}} 
        </td>

        <td>
          {{Total_Tackles}} 
        </td>

        <td>
          {{Solo_Tackles}} 
        </td>

        <td>
          {{Assisted_Tackles}} 
        </td>

        <td>
          {{Passes_Defended}} 
        </td>

        <td>
          {{Ints}} 
        </td>

        <td>
          {{Yards_Per_Int}} 
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
