{% extends "layout.html" %} {% block title %} Edit Defensive {% endblock %} {%
block content %}

<h1 class="title">Edit Defensive</h1>

<form action="" method="post" name="defensive_form">
  <div class="container">
    <div class="col-sm-6">
      <div class="attribute">
        <div>
          <label class="edit_label" for="Player_Id">Player Id</label>
          <div>
            <input
              class="text_box"
              type="text"
              name="Player_Id"
              value="{{ values['Player_Id'] }}"
              required="required"
            />
          </div>
        </div>

        <div>
          <label class="edit_label" for="Player Year">Player Year</label>
          <br />
          <select class="text_box" name="Player_Year">
            <option value="2000">2000</option>
            <option value="2001">2001</option>
            <option value="2002">2002</option>
            <option value="2003">2003</option>
            <option value="2004">2004</option>
            <option value="2005">2005</option>
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
          </select>
        </div>

        <div>
          <label class="edit_label" for="Team">Team</label>
          <div>
            <input type="radio" name="Team" value="Washington Redskins" checked />
            <label for="Team">Washington Redskins</label>
            <input type="radio" name="Team" value="Green Bay Packers" />
            <label for="Team">Green Bay Packers</label>
            <br />
            <input type="radio" name="Team" value="Dallas Cowboys" />
            <label for="Team">Dallas Cowboys</label>
            <input type="radio" name="Team" value="St. Louis Cardinals	" />
            <label for="Team">St. Louis Cardinals </label>
          </div>
        </div>

        <div>
          <label class="edit_label" for="Games_Played">Games Played</label>
          <div>
            <input
              class="text_box"
              type="number"
              name="Games_Played"
              value="{{ values['Games_Played'] }}"
            />
          </div>
        </div>

        <div>
          <label class="edit_label" for="Total_Tackles">Total Tackles</label>
          <div>
            <input
              class="text_box"
              type="text"
              name="Total_Tackles"
              value="{{ values['Total_Tackles'] }}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div>
        <label class="edit_label" for="Solo_Tackles">Solo Tackles</label>
        <div>
          <input
            class="text_box"
            type="text"
            name="Solo_Tackles"
            value="{{ values['Solo_Tackles'] }}"
          />
        </div>
      </div>

      <div>
        <label class="edit_label" for="Assisted_Tackles"
          >Assisted Tackles</label
        >
        <div>
          <input
            class="text_box"
            type="text"
            name="Assisted_Tackles"
            value="{{ values['Assisted_Tackles'] }}"
          />
        </div>
      </div>

      <div>
        <label class="edit_label" for="Passes_Defended">Passes Defended</label>
        <div>
          <input
            class="text_box"
            type="text"
            name="Passes_Defended"
            value="{{ values['Passes_Defended'] }}"
          />
        </div>
      </div>

      <div>
        <label class="edit_label" for="Ints">Ints</label>
        <div>
          <input
            class="text_box"
            type="text"
            name="Ints"
            value="{{ values['Ints'] }}"
          />
        </div>
      </div>

      <div>
        <label class="edit_label" for="Yards_Per_Int">Yards Per Int</label>
        <div>
          <input
            class="text_box"
            type="number"
            name="Yards_Per_Int"
            value="{{ values['Yards_Per_Int'] }}"
          />
        </div>
      </div>

      <div>
        <div>
          <button class="button_save">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
