{% extends "layout.html" %} {% block content %}
<h1 class="title">Kickoff Table</h1>

<div>
  <a href="{{ url_for('add_kickoff') }}" class="button_new_data"
    >Add Kickoff Stat</a
  >
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Kickoff Id</th>
        <th>Player Id</th>
        <th>Player Year</th>
        <th>Team</th>
        <th>Games Played</th>
        <th>Kickoffs</th>
        <th>Kickoff Yards</th>
        <th>Out of Bounds Kickoffs</th>
        <th>Yards Per Kickoff</th>
        <th>Touchbacks</th>
      </tr>
    </thead>
    <tbody>
      {% for Kickoff_Id, Player_Id, Player_Year, Team, Games_Played, Kickoffs,
      Kickoff_Yards, Out_of_Bounds_Kickoffs, Yards_Per_Kickoff, Touchbacks in
      kickoff_db %}
      <tr>
        <td>{{Kickoff_Id}}</td>

        <td>{{Player_Id}}</td>

        <td>{{Player_Year}}</td>

        <td>{{Team}}</td>

        <td>{{Games_Played}}</td>

        <td>{{Kickoffs}}</td>

        <td>{{Kickoff_Yards}}</td>

        <td>{{Out_of_Bounds_Kickoffs}}</td>

        <td>{{Yards_Per_Kickoff}}</td>

        <td>{{Touchbacks}}</td>

        <td>
          <a
            href="{{ url_for('delete_kickoff', kickoff_id = Kickoff_Id)}}"
            class="button_small"
            >Delete</a
          >
        </td>
        <td>
          <a
            href="{{ url_for('update_kickoff', kickoff_id = Kickoff_Id)}}"
            class="button_small"
            >Update</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
