.table {
  width: 125% !important;
  max-width: 150% !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.container {
  margin-top: 30px;
  margin-left: 100px !important;
  margin-right: auto !important;
}

.button_new_data {
  color: rgb(241, 241, 241);
  background-color: rgb(46, 46, 46);
  font-size: large;
  padding-left: 15px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  border-radius: 7px;
  margin-left: 115px;
}
.button_new_data:hover {
  color: rgb(241, 241, 241);
  background-color: rgb(62, 62, 62);
  font-size: large;
  padding-left: 15px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  border-radius: 7px;
  margin-left: 115px;
  text-decoration: none;
}

.button_small {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: rgb(241, 241, 241);
  background-color: rgb(46, 46, 46);
  font-weight: bold;
  font-size: small;
  border-radius: 5px;
}
.button_small:hover {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: rgb(241, 241, 241);
  background-color: rgb(62, 62, 62);
  font-weight: bold;
  font-size: small;
  border-radius: 5px;
  text-decoration: none;
}

.button_save {
  color: rgb(241, 241, 241);
  background-color: rgb(46, 46, 46);
  font-size: large;
  padding-left: 15px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  border-radius: 7px;
  margin-left: 183px;
  margin-top: 30px;
}

.button_save:hover {
  color: rgb(241, 241, 241);
  background-color: rgb(62, 62, 62);
  font-size: large;
  padding-left: 15px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  border-radius: 7px;
  margin-left: 183px;
  margin-top: 30px;
}

.button_link {
  color: rgb(241, 241, 241);
  background-color: rgb(46, 46, 46);
  font-size: 35px;
  padding-left: 15px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  border-radius: 7px;
  margin-right: 30px;
  margin-top: 30px;
  transition-duration: 0.3s;
}

.button_link:hover {
  color: rgb(241, 241, 241);
  background-color: rgb(27, 36, 118);
  font-size: 35px;
  padding-left: 20px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  border-radius: 9px;
  margin-right: 30px;
  margin-top: 30px;
  text-decoration: none;
}

.title {
  padding-left: 115px;
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 50px;
  font-weight: 700;
}

.attribute {
  margin-left: 200px;
}

.edit_label {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: 600;
}

.text_box {
  border-color: rgb(112, 112, 112);
  border-width: 2px;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.info {
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  background-color: rgb(232, 232, 232);
}

.link {
  padding-top: 30px;
}
